<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Dashboard access point</h1>
        <div class="d-grid gap-2 d-md-block">
            <div class="d-flex">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add employee</button>
                <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
            </div>
        </div>
    </div>
</nav>

<div class="table-responsive">
    <table class="table mt-3 table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Access point</th>
                <th scope="col">Details</th>
                <th scope="col">Add employee access</th>
                <th scope="col">Change headquarter status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of headquarterData">
                <td>{{ row.name }}</td>
                <td>
                    <button (click)="onShow(row)" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#detailsModal">See</button>
                </td>
                <td></td>
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <button (click)="updateStatusHeadquarterD(row)"class="btn btn-danger mx-3">Desactive</button>
                        <button (click)="updateStatusHeadquarterA(row)" class="btn btn-success">Active</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send link to add new employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]= 'formValue'>
                    <div class="form-group">
                        <label for="exampleInputEmail1">New employee email address</label>
                        <input type="email" formControlName='email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Example: newemployee@useit.co</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send email</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]= 'formValue'>
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="Name" formControlName='name' class="form-control" id="exampleInputEmail1" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Addres</label>
                            <input type="Name" formControlName='address' class="form-control" id="exampleInputEmail1" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="Name" formControlName='email' class="form-control" id="exampleInputEmail1" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Enterprise</label>
                            <input type="Name" formControlName='enterprise' class="form-control" id="exampleInputEmail1" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Geolocation</label>
                            <input type="Name" formControlName='geolocation' class="form-control" id="exampleInputEmail1" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Status</label>
                            <input type="Name" formControlName='status' class="form-control" id="exampleInputEmail1" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Time start</label>
                            <input type="Name" formControlName='timestart' class="form-control" id="exampleInputEmail1" placeholder="Disabled input">
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2 d-md-block">
    <button (click)="startScan()" class="btn btn-success" type="button">Start scan</button>
    <button (click)="reset()" class="btn btn-success" type="button" *ngIf="scanResult">Reset</button>
</div>

<video #video [hidden]="!scanActive" width="50%"></video>
<canvas #canvas hidden></canvas>

<div class="d-grid gap-2 d-md-block">
    <button (click)="stopScan()" class="btn btn-success" type="button" *ngIf="scanActive">Stop scan</button>
</div>

<div class="card mb-3" style="max-width: 540px;" *ngIf="scanResult">
    <div class="row g-0">
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">QR code</h5>
                {{ scanResult }}
            </div>
        </div>
    </div>
</div>