<nav class="navbar navbar-light" style="background-color: rgb(137, 221, 130);">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Hi again!</h1>
        <h2 style="color: aliceblue;">Employee access point</h2>
        <div class="d-grid gap-2 d-md-block">
            <div class="d-flex">
                <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
            </div>
        </div>
    </div>
</nav>

<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <img src="assets/images/qr-code-id-0.png" class="card-img-top" alt="QR code">
    <div class="card-body">
        <h5 class="card-title">Your QR code!</h5>
        <p class="card-text">This is your QR code with your information about your access point. Save it ;)!</p>
    </div>
</div>